body{
    margin: 0px;
    padding: 0px;
}
                                        /* for header*/
.main_header{
    background-color: #7f0804;
    position: fixed;
    width: 100%;
}
.header_top{
    padding: 1%;
}
.ht_heading{
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: 300;
    margin: 0%;
    padding: 0% 0% 0% 3%
}
.header_bottom{
    padding: 0%;
    margin: 0%;
}
.hb_lists{
    margin: 0%;
}
.hbl-extra{
    display: inline;
}
.hb_list{
    display: inline;
}
.hb_list_name{
    background-color: darkred;
    border-color: brown;
    padding: 1% 5%;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    transition-property: all;
    transition-duration: 2s;
}
.hb_list_name:hover{
    background-color: red;
}
                                    /* for container 1*/
.container1{
    padding: 12% 0% 0% 0%;
    display: flex;
}
.c1-left{
    flex: 1;
}
.c1l-lists{
    list-style-type: none;
}
.c1ll-lists{
    list-style-type: none;
}
.c1ll-main-list{
    background: red;
    padding: 4%;
    margin: 2%;
    border: solid brown 2px;
    text-align: center;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 2s;
}
.c1ll-main-list:hover{
    background-color: darkred;
}
.c1ll-list{
	display: none;
	margin: 1%;
	background-color: white;
	border: solid #c76d6d 2px;
	border-radius: 5px;
	padding: 4%;
	text-align: center;
    transition-property: all;
    transition-duration: 1s;
}
.c1ll-list:hover{
    background-color: red;
    color: white;
}
.c1ll-links{
    text-decoration: none;
}
.c1lll-main-name{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
}
.c1lll-name{    
    font-family: sans-serif;
    font-weight: 600;
}
                                   /* for c1-right*/
.c1_right{
    flex: 2;
    padding: 0% 5%;
}

/* for c1r-home*/
.c1rh-article{
    display: block;
}
.c1rh-para{
    font-family: sans-serif;
    font-weight: 400;
    font-size: large;
}

/* for c1r-blog*/
.c1rb-article{
    display: none;
}
.c1rb-para{
    font-family: sans-serif;
    font-weight: 400;
    font-size: large;
}

/* .c1r-gallery*/
.c1rg-imgboxes{
    display: none;
    overflow: auto;
}
.c1rg-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5%;
    padding: 0% 3%;
}
.c1rg-imgbox{
    border: solid red 2px;
    border-radius: 5px;
}
.c1rg-imglink{}
.c1rg-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* for news*/
.c1rn-boxes{
    display: none;
}
                                            /* for c2*/
.container2{
    display: flex;
   background-color: #d8c4c4;
}
.container3{}   
.c3_body{
    display: flex;
    background-color: #0c0b0b;
}
.c3_left{
    flex: 1;
    padding: 5% 5%;
}
.c3_right{
    flex: 1;
    padding: 1%;
}
form{
    margin: 5%;
    padding: 2%;
    border: solid black 1px;
    border-radius: 5px;
    background-color: coral;
}
.formdata{
    border-radius: 3px;
    padding: 2%;
    margin: 1% 0%;
}
.email{
    border-radius: 5px;
    padding: 2%;
    margin: 0% 2%;
    border: solid #f67d4f 1px;
    font-size: large;
    font-family: sans-serif;
}
.textarea{
    width: 90%;
    height: 50px;
    border: solid #f67d4f 2px;
    border-radius: 5px;
    margin: 0% 1%;
    padding: 2%;
    font-size: large;
    font-family: sans-serif;
}
#submit{
    display: block;
    width: 25%;
    padding: 2%;
    margin: 2%;
    background-color: darkred;
    color: white;
    font-family: sans-serif;
    font-size: large;
    border border: solid;
    border: solid #f67d4f 2px;
    border-radius: 5px;
}
.form_para{
    margin: 3% 0%;
}
.main_footer{
    background-color: black;
    padding: 1% 2%;
}
.footer_para{
    color: white;
}
                                        /*media queries*/
@media screen and (max-width: 700px){
    .container1{
        display: block;
        padding: 20% 5% 0% 5%;
        margin: 0%;
    }
    .c1-left{}
    .c1l-lists{
    padding-inline-start: 0px;
    padding: 1% 10%;
    }
    .c1l-list{}
    .c1ll-lists{
    padding-inline-start: 0px;
    }
    .c1ll-main-list{}
    .c1ll-list{}
    .main_header{}
    .header_top{}
    .ht_heading{}
    .header_bottom{
    margin: 0% 3%;
    }
    .hb_lists{
    margin: 0%;
    padding-inline-start: 0px;
    }
    .hbl-extra{}
    .hb_list{}
    .hb_list_name{
    padding: 2% 5%;
    margin: 0% 0%;
    }
    .container3{
    }
    .c3_body{
    display: block;
    }
    .c3_left{}
    .c3_right{}
    .formdata{}
}

